body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #070f2b;
}

.container {
  display: flex;
}

button {
  background-color: #9290c3;
  color: white;
  padding: 12px;
}

h1 {
  color: white;
}
